<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lab2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACB7900E1F9F14F80027AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB790221F9F14F90027AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB7902D1F9F14F90027AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
